body {
    background-color: #FFFDD0;
        font-family: Helvetica, Verdana, san-serif;
    color: #12355B;
}

.center-container {
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.center-container  img {
    max-width: 30%;
    max-height: 30%;
}
