<!DOCTYPE html>
<html>
    <body>
        <p>Dear {{user.firstname }},</p>
        <p>Looking for all of our training material? <a href="{{ url_for('training.content') }}">Click here.</a></p>
        {% if profile %}
        {% if profile.game %}
            <h2>Game-based training</h2>
            <p>Coming soon!</p>
        {% endif %}
        {% if profile.quiz %}
            <h2>Quizzes</h2>
            <p>Coming soon!</p>
        {% endif %}
        {% if profile.video %}
            <h2>Videos</h2>
            <p>Coming soon!</p>
        {% endif %}
        {% if profile.text %}
            <h2>Articles</h2>
            <p>Coming soon!</p>
        {% endif %}
    {% else %}
        <p>No preferences selected.</p>
    {% endif %}
        <p>Sincerely,</p>
        <p>Morphin and the PhishAdapt Team</p>
    </body>
</html>