<!DOCTYPE html>
<html>
    <body>
        <p>Dear {{user.firstname }},</p>
        <p>We recently ran a phishing training campaign. Our records suggest that you may have clicked on the link we included in the fake phish.</p>
        <p>It seems like our existing training has not been successful in communicating the risks that phishing emails can pose, not just to us as a business but also to individuals.</p>
        <p>We are committed to improving the skills our employees have in this area to make our cyber space safer.</p>
        <p>Please see below for your personalised training recommendations.</p>
        <!-- Inherit content from child template -->
        {% include '_personalised_training.html' %}
        <p>We appreciate that sometimes these campaigns can go wrong, and sometimes we might not do a great job of communicating to you why these things are important.</p>
        <p>If you have any feedback or have run in to any problems with the campaign or the material we've sent you, please don't hesitate to contact us at phishadaptadmin@phishadapt.msc.</p>
        <p>Thank you, and happy training!</p>
        <p>Morphin and the PhishAdapt Team</p>
    </body>
</html>