{% extends "base.html" %}

{% block content %}
    <h1>Preview</h1>
    <p>Below is an example of what your phishing simulation email will look like to users.</p>
    <p>Please check it and confirm that all the details are as you would expect them to be.</p>
    <p>This campaign will be sent to <strong>all</strong> PhishAdapt users - please ensure this is correct as there is <strong>no</strong> undo!</p><br>
    <img src="{{ url_for('static', filename='images/baseline_voicemail.png')}}"><br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.send() }}</p>
    </form>
{% endblock %}