{% extends "base.html" %}

{% block content %}
    <h1>Executed campaigns</h1>
    <p>
        Filter campaigns by name:
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.campaign }}
            {{ form.submit }}
        </form>
    </p>
    {% if request.method == 'POST' %}
        <div class="filter-summary">
            <p><strong>Filtered by: {{ form.campaign.data }}</strong></p>
            <table id="admin_table">
                <tr>
                    <th>Total emails sent</th>
                    <th># of users who clicked</th>
                    <th>Click rate</th>
                </tr>
                <tr id="click-table">
                    <td>{{ total_sent }}</td>
                    <td>{{ clicked_count }}</td>
                    <td>{{ click_rate }}%</td>
                </tr>
            </table>
            <p><a href="{{url_for('admin.executed_campaigns') }}" class="reset-button">Reset filters</a></p> 
        </div>
    {% endif %}
    <table id="admin_table">
        <tr>
            <th>Campaign name</th>
            <th>Username</th>
            <th>Clicked?</th>
        </tr>
        {% for result, campaign, user in results %}
        <tr>
            <td>{{ campaign.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ 'Yes' if result.clicked else 'No' }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}