<!-- Inherit content from base template -->
{% extends "base.html" %}

{% block content %}
    <h1 class=>Register new user</h1>
    <!-- Display form for inputting new user data -->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.firstname.label }}
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.jobtitle.label }}
            {{ form.jobtitle(size=32) }}<br>
            {% for error in form.jobtitle.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.team.label }}
            {{ form.team }}<br>
            {% for error in form.team.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.department.label }}
            {{ form.department }}<br>
            {% for error in form.department.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.isadmin.label }}
            {{ form.isadmin(size=32) }}<br>
            {% for error in form.isadmin.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}