<!-- Inherit content from base template -->
{% extends "base.html" %}

{% block content %}
    <!-- Inherit content from child template -->
    {% include 'admin/_preview.html' %}
    <!-- Display preview of training campaign email -->
    <img src="{{ url_for('static', filename='images/voicemail.png')}}"><br>
    <!-- Display form for running training campaign  -->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>Please specify what level of risk you want to send this campaign to: {{ form.operator }} {{ form.score }}</p>    
        <p>{{ form.send() }}</p>
    </form>
{% endblock %}