{% extends "base.html" %}

{% block content %}
    <h1>Training Content</h1>
    <h2>Instructor-led</h2>
    <p>Coming soon!</p><br>
    <h2>Group training</h2>
    <p>Coming soon!</p><br>
    <h2>Games</h2>
    <p>Coming soon!</p><br>
    <h2>e-Learning</h2>
    <p>Coming soon!</p><br>
    <h2>Quizzing</h2>
    <p>Coming soon!</p><br>
    <h2>Walkthrough/demo material</h2>
    <p>Coming soon!</p><br>
    <h2>Videos</h2>
    <p>Coming soon!</p><br>
    <h2>Articles</h2>
    <p>Coming soon!</p><br>
    <h2>Visual-based learning</h2>
    <p>Coming soon!</p><br>
    <h2>Coaching</h2>
    <p>Coming soon!</p><br>
    <h2>Audio-based learning</h2>
    <p>Coming soon!</p><br>
{% endblock %}