<!-- Inherit content from base template -->
{% extends "base.html" %}

{% block content %}
    <h1>Training Content</h1>
    <h2>Instructor-led</h2>
    <p>Coming soon!</p><br>
    <h2>Group training</h2>
    <p>Coming soon!</p><br>
    <h2>Games</h2>
    <p>Don't learn much from being talked at? Why not try learning through gamification instead?</p>
    <p>Gamification can be a useful option if you'd like to engage in shorter sessions that you can complete at your own convenience.</p>
    <p>You can even come back to the same game time and time again to see if you can better your last score!</p>
    <p><a href="https://lynsay.itch.io/gone-phishing" target="_blank">Gone Phishing</a></p><br>
    <h2>e-Learning</h2>
    <p>Coming soon!</p><br>
    <h2>Quizzing</h2>
    <p>Quizzes are great for testing the knowlege that you already have.</p>
    <p>These can be used in conjunction with other training methods or on their own if you want to give yourself a real challenge!</p>
    <p><a href="https://phishingquiz.withgoogle.com/" target="_blank">Google Phishing Quiz</a></p><br>
    <h2>Walkthrough/demo material</h2>
    <p>Coming soon!</p><br>
    <h2>Videos</h2>
    <p>If you like the idea of a lecture but can't commit to a specific session, our video library is a solid alternative.</p>
    <p>Choose this option and we'll send you a link with a list of video resources created by the experts that can help you get the most our of your phishing training.</p>
    <p><a href="https://www.youtube.com/watch?v=dKoRUFIwlfM" target="_blank">How to Identify and Avoid Phishing Scams</a></p>
    <p><a href="https://www.youtube.com/watch?v=nEb5umERTbM&t=32s" target="_blank">Phishing: 3 Tips</a></p><br>
    <h2>Articles</h2>
    <p>Maybe you want to go old-fashioned with your learning and just read all about it?</p>
    <p>Our training library is packed with articles of all lengths that can help you get to grips with the practical actions you can take to improve your cybersecurity skills.</p>
    <p><a href="https://www.ncsc.gov.uk/collection/phishing-scams" target="_blank">Phishing: Spot and report scam emails, texts, websites and calls (NCSC)</a></p>
    <p><a href="https://www.crowdstrike.com/en-us/cybersecurity-101/social-engineering/how-to-spot-a-phishing-email/" target="_blank">How to Spot a Phishing Email (Crowdstrike)</a></p><br>
    <h2>Visual-based learning</h2>
    <p>Coming soon!</p><br>
    <h2>Coaching</h2>
    <p>Coming soon!</p><br>
    <h2>Audio-based learning</h2>
    <p>Coming soon!</p><br>
{% endblock %}