<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h2>Instructor-led training</h2>
    <p>Think of these as lectures - you show up (in-person on virtually) and a trainer imparts wisdom upon you and the other attendees.</p>
    <p>Instructor-led training takes place at set dates and times - choosing this option will prompt an invite to book on to a selection of available sessions.</p>
    <p>
        <strong>{{ form.instructor.label }}</strong>
        {{ form.instructor() }}<br>
    </p>
    <h2>Group-based training</h2>
    <p>Similar to instructor-led training, these sessions encourage a more interactive type of training, and are led by a trainer.</p>
    <p>Working as a group, you'll be guided through a set of exercises that will help you to understand what the risks are when it comes to phishing, and how to avoid them.</p>
    <p>Group-based training takes place at set dates and times - choosing this option will prompt an invite to book on to a selection of available sessions.</p>
    <p>
        <strong>{{ form.group.label }}</strong>
        {{ form.group() }}<br>
    </p>
    <h2>Gaming</h2>
    <p>Don't learn much from being talked at? Why not try learning through gamification instead?</p>
    <p>Gamification can be a useful option if you'd like to engage in shorter sessions that you can complete at your own convenience.</p>
    <p>You can even come back to the same game time and time again to see if you can better your last score!</p>
    <p>
        <strong>{{ form.game.label }}</strong>
        {{ form.game() }}<br>
    </p>
    <h2>e-Learning</h2>
    <p>If you like the idea of a game but aren't a fan of the bright colours and cheery soundtracks, perhaps you might prefer an e-learning course.</p>
    <p>Similar to a game, e-learning allows you to learn at your own pace, completing as much or as little of the course as suits you over as many sessions as is required to complete it.</p>
    <p>
        <strong>{{ form.elearn.label }}</strong>
        {{ form.elearn() }}<br>
    </p>
    <h2>Quizzing</h2>
    <p>Quizzes are great for testing the knowlege that you already have.</p>
    <p>These can be used in conjunction with other training methods or on their own if you want to give yourself a real challenge!</p>
    <p>
        <strong>{{ form.quiz.label }}</strong>
        {{ form.quiz() }}<br>
    </p>
    <h2>Demos</h2>
    <p>If you'd rather see an showcase of "red flags" in real life examples of phishing e-mails, demonstration material might be for you.</p>
    <p>
        <strong>{{ form.demo.label }}</strong>
        {{ form.demo() }}<br>
    </p>
    <h2>Videos</h2>
    <p>If you like the idea of a lecture but can't commit to a specific session, our video library is a solid alternative.</p>
    <p>Choose this option and we'll send you a link with a list of video resources created by the experts that can help you get the most our of your phishing training.</p>
    <p>
        <strong>{{ form.video.label }}</strong>
        {{ form.video() }}<br>
    </p>
    <h2>Articles</h2>
    <p>Maybe you want to go old-fashioned with your learning and just read all about it?</p>
    <p>Our training library is packed with articles of all lengths that can help you get to grips with the practical actions you can take to improve your cybersecurity skills.</p>
    <p>
        <strong>{{ form.text.label }}</strong>
        {{ form.text() }}<br>
    </p>
    <h2>Visual training</h2>
    <p>If you're into Manga or Anime, or maybe even a bit of the Beano, this one might be for you! We have comics and short graphic novels that might engage you.</p>
    <p>
        <strong>{{ form.visual.label }}</strong>
        {{ form.visual() }}<br>
    </p>
    <h2>Coaching</h2>
    <p>If you're looking for the personal touch but don't like the crowds so much, how about a coaching session?</p>
    <p>Coaching sessions are available on set dates and times - choosing this option will prompt an invite to book on to a selection of available sessions.</p>
    <p>
        <strong>{{ form.coach.label }}</strong>
        {{ form.coach() }}<br>
    </p>
    <h2>Audio training</h2>
    <p>Are you an audiophile? Perhaps you like to listen to a audiobook on a walk? Our selection of short podcasts might be just what you're looking for!</p>
    <p>
        <strong>{{ form.audio.label }}</strong>
        {{ form.audio() }}<br>
    </p><br>
    <p>{{ form.submit() }}</p>
</form>