<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - PhishAdapt</title>
        {% else %}
        <title>Welcome to PhishAdapt</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div>
            PhishAdapt:
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </div>>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {%for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>