<!-- Inherit content from base template -->
{% extends "base.html" %}

{% block content %}
    <h1>Edit profile</h1>
    <p>Please note - changes may only be made to the first and last name held on your profile.</p>
    <p>For any other changes, please contact the administrator at phishadaptadmin@phishadapt.msc</p>
    <!-- Display for for acccepting user input -->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(cols=50, rows=4) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <a href="{{ url_for('main.edit_training_preferences', username=user.username) }}">Edit training preferences</a><br>
{% endblock %}