{% extends "base.html" %}

{% block content %}
{% if not user == current_user %}
    <h1>Access denied!</h1>
{% else %}
    <h1>Welcome {{ user.firstname }}</h1>
    <table>
        <tr valign="top">
            <td><img src="data:image/png;base64,{{ gauge_image }}" alt="Risk Gauge", style="width:100%; max-width:400px;"></td>
        </tr>
        <tr>
            <td><p>Username: {{ user.username }}</p></td>
        </tr>
        <tr>
            <td><p>Name: {{user.firstname }} {{ user.lastname }}</p></td>
        </tr>
        <tr>
            <td><p>Job title: {{user.jobtitle }}</p></td>
        </tr>
        <tr>
            <td><p>Team: {{user.team }}</p></td>
        </tr>
        <tr>
            <td><p>Department: {{user.department }}</p></td>
        </tr>
        <tr>
            <td><p>Email address: {{user.email }}</p></td>
        </tr>
    </table><br>
    <a href="{{ url_for('main.edit_profile', username=user.username) }}">Edit profile</a><br>
    <h2>Training preferences</h2>
    <ul>
        {% if profile %}
            {% set prefs = [
                ('Instructor-led', profile.instructor),
                ('Group learning', profile.group),
                ('Game-based', profile.game),
                ('E-learning', profile.elearn),
                ('Quiz-based', profile.quiz),
                ('Demo-based', profile.demo),
                ('Video-based', profile.video),
                ('Text-based', profile.text),
                ('Visual', profile.visual),
                ('Coach-supported', profile.coach),
                ('Audio-based', profile.audio)
            ] %}
            {% for label, selected in prefs %}
                {% if selected %}
                    <li>{{ label }}</li><br>
                {% endif %}
            {% endfor %}
            {% else %}
                <p>No preferences selected.</p>
            {% endif %}
    </ul><br>
    <a href="{{ url_for('main.edit_training_preferences', username=user.username) }}">Edit training preferences</a><br>

{% endif %}
{% endblock %}